@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 380px;
  height: 500px;
  background-color: #fff;
  font-size: 500%;
  border-radius: 20px;
}

.sub-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.icon-up {
  height: 33.33%;
}

.number {
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.icon-down {
  height: 33.33%;
  float: right;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
